/*CSS*/
article {
  background: #FFFFCC ;
  border-style: groove;
  border-width: 2px;
  margin: 5px 10px 10px 10px;
  padding: 15px 15px 20px 20px
}

article {
  border-style: groove;
  padding: 10px 10px 10px 10px;
  overflow: hidden; 
}

aside {
  float: left
}

#main_header {text-align: center;}

#banner {
  position: relative;
  bottom: 10px;
  z-index: -1; 
}

.post {
  float: left;
}

h1 {
  font-family: Rockwell;
  font-style: italic;
  color: orange;
}

p {
  font-family: Garamond, sans-serif;
   text-align: justify;
}

img {
    border-radius: 8px;
}

article img {
  padding: 0 30px 10px 0;
}
.footer {
  font: 16px Garamond;
  margin-bottom: 20px;
}

a{
  color: orange;
  font: 16px Garamond;
  font-weight: bold;
}

a:hover{
  color: pink;
}